@mixin arrows {
    background-color: $black;
    background-repeat: no-repeat;
    padding: 16px;
    cursor: pointer;
    transition: 300ms all ease;
}

@mixin images {
    height: 100%;
    width: 100%;
    
}