//COLORS

$dark-gray:hsl(0, 0%, 63%);
$black:hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray:hsl(0, 0%, 27%);


//Font Family

$fm:'Spartan';

//Fonts-size

$fs: ( 
    big: 2.4rem,
    normal: 1.6rem,
    small: 1.4rem,
    x-small: 1.2rem
    );
    
    // Padding
    
    $padding-section: 24px ;